<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>This is super/login.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Super User Login</h1>
	<h2 th:each="err : ${action.actionErrors}">
	<p th:text="${err}" > </p>

	</h2>

    <form action="#" th:action="@{/super/doLogin.do}" th:object="${action}" method="post">
    	<p>password1: &nbsp;<input type="password" th:field="*{password}" /></p>
    	<p>nickname: &nbsp;<input type="text" th:field="*{nickname}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
