<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>This is super/login.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Super User Login</h1>
    <form action="#" th:action="@{/super/doLogin}" th:object="${form}" method="post">
    	<p>password: &nbsp;<input type="password" th:text="*{password}" th:value="${form.password}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
